$primary-bg: #07182d;
$secondary-bg: #081d35;

$gold: #c6a24d;
$white: #f4f1ea;

$text-light: #9ea7b5;
$text-muted: #5e6674;

$grid-color: rgba(255, 255, 255, 0.04);

$border-light: rgba(255, 255, 255, 0.12);

$circle-border: rgba(198, 162, 77, 0.12);