@use "../../styles/colors" as *;
@use "../../styles/fonts" as *;

.main-header {
  width: 100%;

  padding: 15px 70px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;

  top: 0;
  left: 0;

  z-index: 999;

  transition: 0.4s ease;

  background: transparent;

  &.scrolled {
    background: rgba(3, 18, 36, 0.92);

    backdrop-filter: blur(12px);

    box-shadow: 0 8px 30px
      rgba(0, 0, 0, 0.08);
  }

  .logo {
    font-size: 28px;

    font-family: $title-font;

    color: $white;

    font-weight: 600;

    span {
      color: $gold;
    }
  }

  nav {
    display: flex;
    align-items: center;

    gap: 52px;

    a {
      font-size: 15px;

      letter-spacing: 2px;

      color: rgba(255, 255, 255, 0.85);

      transition: 0.3s;

      &:hover {
        color: $gold;
      }
    }
  }
}

@media (max-width: 992px) {
  .main-header {
    padding: 24px;

    nav {
      gap: 24px;

      a {
        font-size: 13px;
      }
    }
  }
}

@media (max-width: 768px) {
  .main-header {
    flex-direction: column;

    gap: 18px;

    nav {
      flex-wrap: wrap;

      justify-content: center;

      gap: 18px;
    }
  }
}

@media (max-width: 480px) {
  .main-header {
    .logo {
      font-size: 24px;
    }

    nav {
      gap: 12px;

      a {
        font-size: 11px;
      }
    }
  }
}